* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
/* first card */
.first-card-blog {
  margin: auto;
  background-size: cover;
  width: 400px;
  height: 230px;
}

.design-div {
  padding-top: 25px;
}

.logo-img {
  width: 100%;
}
.company-name {
  color: #e9e9e9;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  word-wrap: break-word;
  white-space: initial;
  width: 170px;
}

.slogan1 {
  color: #e9e9e9;
  font-size: 6px;
  letter-spacing: 2px;
  text-transform: uppercase;
  word-wrap: break-word;
  white-space: initial;
  width: 170px;
}

.down-part-lorem2 {
    color: #e9e9e9;
    position: absolute;
    top: 90%;
    left: 48%;
    text-align: center;
    font-size: 9px;
}

.company-info {
  padding: 30px;
}

.card-holder-name {
  color: #e9e9e9;
  font-size: 8px;
  margin-right: 5px;
}

.flex {
  display: flex;
}

.card-holder-surname {
  color: gray;
  font-size: 8px;
  text-transform: uppercase;
}

.cofounder-p {
  border-bottom: 2px solid #fff;
  max-width: 120px;
  color: #fff;
  font-size: 6px;
  text-align: -webkit-auto;
}

.cofounder-p::after {
  content: "";
  display: block;
  border-bottom: 3px solid red;
  margin-bottom: -2px;
  max-width: 20px;
  margin-top: 8px;
}

.fonticon {
  text-align: right;
}

/* second card */

.second-card-blog {
  background-size: cover;
  width: 400px;
  height: 230px;
  margin: auto;
  text-align: left;
}

/* contactList */

/* umumi div */

.info-box2 {
  position: absolute;
  top: 58%;
  left: 57%;
  font-size: 8px;
}

.icon-text2 {
  display: flex;
  flex-direction: row;
  margin-bottom: 6px;
  color: #fff;
}

/* icons */

.fa-location-dot2 {
  transform: translate(-32px, 0px);
}
.fa-phone2 {
  transform: translate(-41px, -2px);
}
.fa-envelope2 {
  transform: translate(-54px, -2px);
}
.fa-arrow-pointer2 {
  transform: translate(-64px, -3px);
}

/* text */

.down-part-lorem22 {
  transform: translate(0px, 0px);
  /* font-size: 8px; */
  margin-bottom: 7px;
}
.down-part-number2 {
  transform: translate(0px, 0px);
  margin-bottom: 7px;
}
.down-part-email2 {
  transform: translate(0px, 0px);
  margin-bottom: 7px;
}

.down-part-website2 {
  transform: translate(0px, 0px);
}

.webkit {
  text-align: -webkit-center;
}

.middle-name2 {
  color: #e9e9e9;
  font-size: 11px;
  margin-right: 5px;
}

.css-1lym95h-MuiGrid-root {
  width: 100% !important;
}

.second-card-blog{
  text-align: left !important;
}