* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.text-general {
  position: absolute;
  top: 10%;
  left: 30%;
}

.second-card3 {
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
  width: 400px;
  height: 230px;
  background-size: cover;
  margin: auto;
  text-align: left;
}

.first-card3 {
  width: 400px;
  height: 230px;
  background-size: cover;
  margin: auto;
}
.first-card-blog {
  position: relative;
}

.card-logo {
  width: 100%;
}

.companyName {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
}

.slogan {
  color: rgb(38, 153, 178);
  text-transform: uppercase;
  font-size: 7px;
  letter-spacing: 2px;
  opacity: 0.75;
}

.lorem-text {
  color: #fff;
  font-size: 8px;
  position: absolute;
  left: 30%;
  top: 200%;
  letter-spacing: 0.6px;
}

.name-div {
  position: absolute;
  top: 43%;
  left: 4%;
}
.name-class {
  display: flex;
  text-transform: uppercase;
  text-align: left;
}

.card-holder-namee {
  color: #2699b2;
  margin-right: 6px;
  font-size: 10px;
  letter-spacing: 1px;
}

.card-holder-surnamee {
  color: #2699b2;
  opacity: 0.5;
  font-size: 10px;
  letter-spacing: 1px;
}

.project-manager {
  color: #fff;
  text-align: left;
  font-size: 8px;
}

.second-card-blog {
  text-align: center !important;
}

.company-name-line {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fa-location3 {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid;
  transform: scale(var(--ggs, 1));
  border-radius: 50%;
  margin-bottom: 4px;
  padding: 2px;
  font-size: 7px;
  color: #2699b2;
  margin-right: 6px;
}

.fa-envelope3 {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid;
  transform: scale(var(--ggs, 1));
  border-radius: 50%;
  margin-bottom: 4px;
  padding: 2px;
  font-size: 7px;
  color: #2699b2;
  margin-right: 6px;
}

.fa-phone3 {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid;
  transform: scale(var(--ggs, 1));
  border-radius: 50%;
  margin-bottom: 4px;
  padding: 2px;
  font-size: 7px;
  color: #2699b2;
  margin-right: 6px;
}

.fa-arrow-pointer3 {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid;
  transform: scale(var(--ggs, 1));
  border-radius: 50%;
  margin-bottom: 4px;
  padding: 2px;
  font-size: 7px;
  color: #2699b2;
  margin-right: 6px;
}

/* text */

.location-text3 {
  transform: translate(0px, 0px);
  font-size: 8px;
  color: #fff;
  margin-top: 3px;
}
.phone-text3 {
  transform: translate(0px, 0px);
  color: #fff;
  font-size: 8px;
  margin-top: 3px;
}
.envelope-text3 {
  transform: translate(0px, 0px);
  color: #fff;
  font-size: 8px;
  margin-top: 3px;
}

.arrow-text3 {
  transform: translate(0px, 0px);
  color: #fff;
  font-size: 8px;
  margin-top: 3px;
}

.info-box3 {
  position: absolute;
  left: 52%;
  top: 40%;
}

.icon-text3 {
  display: flex;
  flex-direction: row;
}

.middle-name3 {
  color: #2699b2;
  margin-right: 6px;
  font-size: 11px;
}

.card3-title {
  position: absolute;
  top: 52%;
  left: 6%;
}
