* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main-form-grid {
  background-image: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgba(4, 189, 228, 1) 0%,
    rgba(2, 83, 185, 1) 100.2%
  );
  padding-top: 3%;
  height: 100vh;
}

.left-header {
  margin-top: 10px;
  font-size: 16px;
}
.right-header {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.template-button-box {
  display: flex;
  justify-content: center;
  margin: auto;
}
.templateBox {
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.css-yjsfm1 {
  display: none !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 1px !important;
  margin: 0px !important;
}
.css-1duy1hk .MuiTextField-root {
  margin: 3px !important;
}

.css-1wc848c-MuiFormHelperText-root {
  line-height: 1 !important;
  margin-top: 0 !important;
}

.css-12s74mj-MuiButtonBase-root-MuiButton-root:hover {
  background-color: rgb(29, 136, 168) !important;
}

.css-12s74mj-MuiButtonBase-root-MuiButton-root {
  width: 320px !important;
}

.mainBox {
  display: flex !important;
}

#root {
  text-align: -webkit-center;
}

.MuiButton-containedSizeLarge {
  margin: 10px !important;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      15% 44%,
      32% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 60%,
      16% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.please_part {
  position: absolute;
  top: 45%;
  left: 26%;
}

.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input__label {
  min-width: 150px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #4245a8;
  font-size: 14px;
  padding: 10px 12px;
  border: 2px dotted #4245a8;
}

.file-input__label:hover {
  background-color: rgba(66, 69, 168, 0.25);
}

.file-input__label svg {
  height: 16px;
  margin-right: 4px;
}
.clicked-image-container {
  margin-bottom: 20px;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  padding: 3px !important;
}

.file-input {
  margin-top: 10px;
}

.css-1lym95h-MuiGrid-root {
  width: 62px !important;
}

#mainBox {
  /* margin: 0 !important; */
  justify-content: center;
}
.css-1lym95h-MuiGrid-root {
  width: 100% !important;
}

.css-v1mktj-MuiButtonBase-root-MuiButton-root {
  width: 220px !important;
  height: 36px !important;
}

.css-1duy1hk {
  width: 100%;
  background: #fff;
  /* padding: 20px; */
  border-radius: 15px;
}


.css-1x5jdmq{
     padding: 5px 10px !important;
}

/* .MuiOutlinedInput{
  padding: 3px 6px !important;

} */

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
  padding: 3px !important;
}